.fill {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.fill .img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -100;
}
.level1-button {
  border: none;
  background-color: transparent;
  font-size: 24px;
  cursor: pointer;
  left: 48%;
  top: 79%;
  position: absolute;
}

.level2-button {
  border: none;
  background-color: transparent;
  font-size: 24px;
  cursor: pointer;
  left: 78%;
  top: 75%;
  position: absolute;
}

.level3-button {
  border: none;
  background-color: transparent;
  font-size: 24px;
  cursor: pointer;
  left: 70%;
  top: 45%;
  position: absolute;
}

.level4-button {
  border: none;
  background-color: transparent;
  font-size: 24px;
  cursor: pointer;
  left: 75%;
  top: 20%;
  position: absolute;
}

.level5-button {
  border: none;
  background-color: transparent;
  font-size: 24px;
  cursor: pointer;
  left: 45%;
  top: 20%;
  position: absolute;
}

.level6-button {
  border: none;
  background-color: transparent;
  font-size: 24px;
  cursor: pointer;
  left: 51%;
  top: 50%;
  position: absolute;
}

.level7-button {
  border: none;
  background-color: transparent;
  font-size: 24px;
  cursor: pointer;
  left: 40%;
  top: 50%;
  position: absolute;
}

.level8-button {
  border: none;
  background-color: transparent;
  font-size: 24px;
  cursor: pointer;
  left: 20%;
  top: 75%;
  position: absolute;
}

.level9-button {
  border: none;
  background-color: transparent;
  font-size: 24px;
  cursor: pointer;
  left: 20%;
  top: 35%;
  position: absolute;
}

.back-button {
  border: none;
  font-size: 24px;
  cursor: pointer;
  left: 10%;
  top: 10%;
  position: absolute;
  color:black;
}