@import "../darkdarktheme/scss/darkdarktheme.scss";

@import "../react-toastify/scss/main.scss";

html,
body,
#root {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

// ie11 floating footer temp fix, react only
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  #root {
    display: flex;
    flex-direction: column;
  }
}

.popover {
  max-width: 400px;
}

@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");

body {
  font-family: "Press Start 2P", cursive;
}

.modal-lg {
  min-width: 400px !important;
  line-height: 25pt;
}

.navbar-collapse {
  position: relative;
  width: 100px;
}
// .contact-modal {
//   min-width: 400px !important;
// }

// .modal-body {
//   position: relative;
//   overflow-y: auto;
//   max-height: 400px;
// }

// .overlay-menu {
//   position: relative;
//   width: 100px;
//   height: 100%;
//   background: #000;
//   z-index: 1100;
//   left: 0;
//   top: 0;
// }

// .overlay-inventory {
//   position: relative;
//   width: 100px;
//   height: 100%;
//   background: #000;
//   z-index: 1100;
//   right: 0;
//   top: 0;
// }
// .overlay-content {
//   position: fixed;
//   z-index: 1150;
// }
