#botwar #showSample {
    float: right;
    margin-right: 100%;
}

#botwar .red:before {
    border-bottom: 10px solid red;
}

#botwar .red {
    background-color: red;
}

#botwar .red:after {
    border-top: 10px solid red;
}

#botwar .blue:before {
    border-bottom: 10px solid blue;
}

#botwar .blue {
    background-color: blue;
}

#botwar .blue:after {
    border-top: 10px solid blue;
}

#botwar .notgamespace:before {
    border-bottom: 10px solid white;
}

#botwar .notgamespace {
    background-color: white;
}

#botwar .notgamespace:after {
    border-top: 10px solid white;
}

#botwar .notconquered:before {
    border-bottom: 10px solid #EFEFEF;
}

#botwar .notconquered {
    background-color: #EFEFEF;
    cursor: hand;
}

#botwar .notconquered:after {
    border-top: 10px solid #EFEFEF;
}

#botwar .hex:before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    position: absolute;
    top: -10px;
}

#botwar .hex {
    float: left;
    margin-top: 10px;
    margin-right: 2px;
    width: 40px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    position: relative;
    color: white;
}

#botwar .hex:after {
    content: " ";
    display: block;
    width: 0;
    position: absolute;
    bottom: -10px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
}

#botwar .hex-row {
    padding-top: 2px;
    clear: left;
}

#botwar .hex-row.even {
    padding-top: 2px;
    margin-left: 20px;
}

#botwar .container-red-dice-roll {
    float: left;
    padding-right: 30px;
}

#botwar .text-bold {
    font-weight: bold;
}

#botwar .text-blue {
    color: blue;
}

#botwar .text-red {
    color: red;
}

#botwar #gameBoard {
    float: left;
    width: 540px;
    padding-bottom: 32px;
}

#botwar #red-stats {
    float: left;
    padding-right: 0px;
    width: 185px;
}

#botwar #blue-stats {
    float: left;
    width: 141px;
}

#botwar #dialog-game-config h3 {
    border-bottom: 1px solid #eee;
    padding-top: 16px;
}

#botwar #dialog-game-config div {
    padding-left: 16px;
}

#botwar .config-options {
    cursor: pointer;
    font-weight: bold;
}

#botwar .no-display {
    display: none;
}

#botwar .button a {
    display: block;
    width: 33%;
    padding: 1em 2em;
    color: white;
    text-decoration: none;
    text-align: center;
    background: #222;
    float: left;
    transition: background .5s;
    text-align: center;
}

#botwar .button a:hover {
    cursor: pointer;
    background: #000;
    float: left;
}

#botwar .file-upload {
    position: relative;
    display: inline-block;
    width: 100%;
}

#botwar .file-upload__label {
    display: block;
    padding: 1em 2em;
    color: #fff;
    background: #222;
    border-radius: 0;
    float: left;
    transition: background .5s;
    text-align: center;
}

#botwar .file-upload__label:hover {
    cursor: pointer;
    background: #000;
    float: left;
}

#botwar .file-upload__input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    font-size: 1;
    width: 0;
    height: 100%;
    opacity: 0;
}