.#{$rt-namespace}__close-button {
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  background: transparent;
  outline: none;
  border: none;
  padding: 0;
  cursor: pointer;
  opacity: 0.7;
  transition: 0.3s ease;
  align-self: flex-start;
  &--default {
    color: theme-color("hack");
  }
  &--info {
    color: $rt-color-progress-info;
  }
  &--success {
    color: $rt-color-progress-success;
  }
  &--warning {
    color: $rt-color-progress-warning;
  }
  &--error {
    // color: theme-color("hack");
    color: $rt-color-progress-error;
  }

  &:hover,
  &:focus {
    opacity: 1;
  }
}
