.mission-map {
  position: static;
}

.mission-map .img {
  width: 90%;
  position: absolute;
  left: 5%;
  z-index: -100;
}
.mission-map .level1-button {
  border: none;
  background-color: transparent;
  font-size: 24px;
  cursor: pointer;
  left: 50%;
  margin-top: 45%;
  position: absolute;
}

.mission-map .level2-button {
  border: none;
  background-color: transparent;
  font-size: 24px;
  cursor: pointer;
  left: 10%;
  margin-top: 40%;
  position: absolute;
}

.mission-map .level3-button {
  border: none;
  background-color: transparent;
  font-size: 24px;
  cursor: pointer;
  left: 20%;
  margin-top: 20%;
  position: absolute;
}

.mission-map .level4-button {
  border: none;
  background-color: transparent;
  font-size: 24px;
  cursor: pointer;
  left: 40%;
  margin-top: 10%;
  position: absolute;
}

.mission-map .level5-button {
  border: none;
  background-color: transparent;
  font-size: 24px;
  cursor: pointer;
  left: 40%;
  margin-top: 25%;
  position: absolute;
}

.mission-map .level6-button {
  border: none;
  background-color: transparent;
  font-size: 24px;
  cursor: pointer;
  left: 52%;
  margin-top: 30%;
  position: absolute;
}

.mission-map .level7-button {
  border: none;
  background-color: transparent;
  font-size: 24px;
  cursor: pointer;
  left: 80%;
  margin-top: 40%;
  position: absolute;
}

.mission-map .level8-button {
  border: none;
  background-color: transparent;
  font-size: 24px;
  cursor: pointer;
  left: 75%;
  margin-top: 25%;
  position: absolute;
}

.mission-map .level9-button {
  border: none;
  background-color: transparent;
  font-size: 24px;
  cursor: pointer;
  left: 70%;
  margin-top: 10%;
  position: absolute;
}
